<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sessionapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>

  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddMovieServlet</display-name>
    <servlet-name>AddMovieServlet</servlet-name>
    <servlet-class>com.hsbc.session.servlets.AddMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMovieServlet</servlet-name>
    <url-pattern>/addMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMoviesServlet</display-name>
    <servlet-name>abcd</servlet-name>
    <servlet-class>com.hsbc.session.servlets.GetMoviesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abcd</servlet-name>
    <url-pattern>/getMovies</url-pattern>
  </servlet-mapping>
</web-app>